<div class="media align-items-lg-center flex-column flex-lg-row p-3">
  <div class="media-body order-2 order-lg-1">
    <h5 class="mt-0 font-weight-bold mb-2">{{product.title}}</h5>
    <p class="font-italic text-muted mb-0 small">{{product.description}}</p>
    <div class="d-flex align-items-center justify-content-between mt-1">
      <h6 class="font-weight-bold my-2">$ {{product.price}}</h6>
      <ul class="list-inline small">
        <igc-rating value="{{product.rating.rate}}" min="1" max="5"></igc-rating> ({{product.rating.count}})
      </ul>
    </div>
  </div>
  <a routerLink="/product/{{product.id}}" routerLinkActive="active">
    <img src="{{product.image}}" alt="Generic placeholder image" width="200"
         class="ml-lg-5 order-1 order-lg-2">
  </a>
</div>
